<div class="back">
  <form [formGroup]="loginForm" class="login">
    <header>
      <img class="logo" src="assets/images/code_society.png" title="Code Society" alt="Code Society" />
      <span class="slogan">Sin miedo al éxito</span>
    </header>
    <section class="inputs">
      <input type="text" pInputText class="form-control" placeholder="Ingrese correo" formControlName="username" />
      <span class="p-input-icon-right">
        <i class="pi pi-eye"></i>
        <input type="password" pInputText class="form-control" placeholder="Contraseña" formControlName="password" />
      </span>
    </section>
    <section class="options">
      <span>¿Olvidaste tu contraseña?</span>
      <p-button label="Iniciar sesión"></p-button>
    </section>
  </form>
</div>
