@use 'src/styles/utils' as *;

.back {
  width: 100%;
  display: grid;
  min-height: 100vh;
  place-items: center;

  .login {
    width: 100%;
    max-width: 380px;
    text-align: center;
    background: white;
    padding: $size-4xl $size-3xl;

    @media screen and (min-width: 382px) {
      border-radius: 6px;
    }

    header {
      padding-bottom: $size-5xl;
    }

    .logo {
      margin-left: auto;
      margin-right: auto;
    }

    .slogan {
      font-size: $size-xs;
    }

    i {
      cursor: pointer;
    }

    .inputs {
      display: grid;
      row-gap: $size-2xl;
      padding-bottom: $size-2xl;

      input,
      .input span {
        width: 100%;
        font-size: $size-sm;
      }

      .error {
        display: block;
        padding-top: 4px;
        text-align: left;
        color: $danger;
        font-size: $size-xs;
      }
    }

    .options {
      display: grid;
      font-size: $size-xs;
      align-items: center;
      justify-content: space-between;
      grid-template-columns: repeat(2, fit-content(100%));
    }
  }
}
