.new_profile {
  margin: 10px;
  border: 1px solid;
  border-radius: 4px;
  &__actions,
  &__title {
    height: 48px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    // background-color: sienna;
  }
  &__title {
    border-bottom: 1px solid;
  }
  &__actions {
    border-top: 1px solid;
  }
  &__container {
    padding: 10px;
    &__data {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 10px;
    }
    &__content {
      .permiss {
        width: 300px;
      }
    }
  }
}
